body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  ul.navbar-nav {
    margin-left: auto; /* Empuja el menú a la derecha */
  }
  
  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  
  .navbar-nav .nav-link {
    color: #007bff;
    font-size: 16px;
    padding-right: 20px;
  }
  .nav-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    padding: 10px;
  }
  
  .nav-link:hover {
    color: #0056b3;
    text-decoration: underline;
    cursor: pointer;
  }
  
  
  .footer {
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  .container {
    max-width: 1140px;
    margin: auto;
    padding: 0 15px;
  }
  
  button {
    margin-top: 15px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .card {
    margin-bottom: 20px;
  }
  .footer {
    text-align: center; /* Centra el texto */
  }
  